<html>
<head>
<title></title>
</head>
<body ng-controller="story8Controller">    
<b style="font-size:25px;"><u>When adversity knocks story</u></b><br/><br/>
<img height="600" width="850" ng-src="{{image[0].src}}"/><br/><br/>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">
    Asha’s father placed an egg, a potato, and some tea leaves in three separate vessels with boiling water. He asked Asha to keep an eye on the vessels for ten minutes. Once these ten minutes were over , he asked Asha to peel the potato, peel the egg and strain the tea leaves. Asha was left puzzled. Her father explained, “Each of these items was but in the same circumstance of being in a pot of boiling water. See how they’ve responded differently. The potato is now soft, the egg is now hard, and the tea has changed the water itself. We are all like these items. When adversity calls we respond in exactly the way they have. Now, are you the potato, the egg or the tea leaves?”
</p>
<h3>Moral of the story</h3>
We can choose how we respond to a difficult situation.
<br><br><br>
</body>
</html>