<html>
<head>
<title></title>
</head>
<body ng-controller="story11Controller">
<b style="font-size:25px;"><u>The Woodcutter and the Golden Axe</u></b><br/><br/>

<img height="600" width="850"ng-src="{{image[0].src}}"/>

<br/><br/>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">
    There was once a woodcutter, working hard in the forest, getting wood to sell for some food. As he was cutting a tree, his axe accidentally fell into the river. The river was deep and was flowing really fast – he lost his axe and could not find it again. He sat at the bank of the river and wept.

    While he wept, the God of the river arose and asked him what happened. The woodcutter told him the story. The God of the river offered to help him by looking for his axe. He disappeared into the river and retrieved a golden axe, but the woodcutter said it was not his. He disappeared again and came back with a silver axe, but the woodcutter said that was not his either. The God disappeared into the water again and came back with an iron axe – the woodcutter smiled and said it was his. The God was impressed with the woodcutter’s honesty and gifted him both the golden and silver axes.
</p>
<h3>Moral of the story</h3>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">Honesty is the best policy.</p>
<br/>
<br/>
<br/>
</body>
</html>