<html>
<head>
<title></title>
</head>
<body ng-controller="story10Controller">
<b style="font-size:25px;"><u>The Needle Tree</u></b><br/><br/>

<img height="600" width="850"ng-src="{{image[0].src}}"/>

<br/><br/>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">
    There lived two brothers near a forest. The elder one was very mean to the younger brother – he would finish all the food and wear all the new clothes of his younger brother. One day, the elder brother decided to go into the forest to get some firewood and sell it in the market. As he went around, chopping tree after tree, he stumbled upon a magical tree. The tree said, “Oh kind sir, please do not cut my branches. If you spare me, I will give you golden apples.” He agreed, but was left disappointed with the number of apples the tree gave him. As greed overcame him, he threatened the tree that he will cut the entire trunk if it didn’t give him more apples. The magical tree, instead, showered upon the elder brother, hundreds and hundreds of tiny needles. The elder brother lay on the ground, crying in pain, as the sun set.

    The younger brother was worried and so he went in search of his elder brother. He found him lying in pain near the tree, with hundreds of needles on his body. He rushed to his brother and removed each needle, lovingly and gently. After he finished, the elder brother apologised for treating him badly and promised to be better. The tree saw the change in the elder brother’s heart and gave them all the golden apples they would ever need.
</p>
<h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">Moral of the story</h3>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">It is important to be kind and gracious, as it will always be rewarded.</p>
<br/>
<br/>
<br/>
</body>
</html>