<html>
<head>
<title></title>
</head>
<body ng-controller="story7Controller">    
<b style="font-size:25px;"><u>	The tale of the pencil story</u></b><br/><br/>
<img height="600" width="850" ng-src="{{image[0].src}}"/><br/><br/>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">
    A boy named Raj was upset because he had done poorly in his English test. He was sitting in his room when his grandmother came and comforted him. His grandmother sat beside him and gave him a pencil. Raj looked at his grandma puzzled, and said he didn’t deserve a pencil after his performance in the test.

His grandma explained, “You can learn many things from this pencil because it is just like you. It experiences a painful sharpening, just the way you have experienced the pain of not doing well on your test. However, it will help you be a better student. Just as all the good that comes from the pencil is from within itself, you will also find the strength to overcome this hurdle. And finally, just as this pencil will make its mark on any surface, you too shall leave your mark on anything you choose to.” Raj was immediately consoled and promised himself that he would do better.
    </p>
    <h3>Moral of the story</h3>
    We all have the strength to be who we wish to be.
    <br><br><br>
</body>
</html>