<html>
<head>
<title></title>
</head>
<body ng-controller="story2Controller">
    
<b style="font-size:25px;"><u>The Fox and The Stork</u></b><br/><br/>

<img height="600" width="850" ng-src="{{image[0].src}}"/>

<br/><br/>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">Once upon a time, there lived in a jungle a cunning fox and a good natured stork. They both were neighbours.

    One day, the fox thought of a naughty plan to entertain himself at the expense of the stork. He invited the stork to his house for dinner. The stork gladly accepted the invitation.<br/><br/>
    
    Next day, the stork arrived at the fox’s place for dinner with a good appetite. To her disappointment, the fox served soup on two flat plates. The stork's beak was too long and pointy to eat the soup from the flat dish. All she could do was to wet the very tip of her beak, while the fox deliciously lapped up all of the soup in his plate. Poor stork did not say anything and went home hungry that night.<br/><br/>
    One week later, the stork invited the fox for lunch at her place and he accepted the invitation. When the fox arrived, the stork served the lunch in two long thin necked jars. This time the stork put her beak in the long thin necked jar and ate the delicious fish she prepared, but the fox could only lick at the rim of the jar and sniff at the delicious aroma. His wide snout couldn’t fit inside the thin necked jar. The fox had to go home hungry and humiliated this time.</p>
    <h3>Moral of the fox and the stork story</h3><br/>
    <ul>
    <li>Never make fun of other’s limitations</li>
    <li>People will treat you the same way you treat them</li>
</ul>
<br/>
<br/>
<br/>
</body>
</html>