<html>
<head>
<title></title>
</head>
<body ng-controller="story9Controller">
<b style="font-size:25px;"><u>The Greedy Lion</u></b><br/><br/>

<img height="600" width="850"ng-src="{{image[0].src}}"/>

<br/><br/>

<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">
    On a hot day, a lion in the forest started feeling hungry. He was starting to hunt for his food when he found a hare roaming around alone. Instead of catching the hare, the lion let it go – “A small hare such as this can’t satisfy my hunger”, he said and scoffed. Then, a beautiful deer passed by and he decided to take his chances – he ran and ran behind the deer but since he was weak because of the hunger, he struggled to keep up with the deer’s speed. Tired and defeated, the lion went back to look for the hare to fill up his stomach for the time being, but it was gone. The lion was sad and remained hungry for a long time.
</p>
<h3>Moral of the story</h3>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">Greed is never a good thing.</p>
<br/>
<br/>
<br/>
</body>
</html>