<html>
<head>
<title></title>
</head>
<body ng-controller="story1Controller">
<b style="font-size:25px;"><u>The Boy Who Cried Wolf Story</u></b><br/><br/>

<img height="600" width="850"ng-src="{{image[0].src}}"/>

<br/><br/>
<p align="justify">The story in Aesop’s fables, “The boy who cried wolf” is one of the most popular fables among children and storytellers. The story has been re-structured and re-told in numerous ways through generations keeping the main subject and the moral intact. Here is “The boy who cried wolf full story” in easy and simple language.</p>
<br/>

<b>The Shepherd Boy and the Wolf Story in English</b><br/><br/>

<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">Once upon a time, there was a shepherd boy who used to take his flock of sheep to the hill to graze on the fresh green grass. Sitting there, he had nothing to do the whole day. One day, an idea struck him. To overcome his boredom, he cried out, “wolf! Wolf!” All the men came running with their sticks and to their dismay found no wolf! The boy laughed.

Again after a few days, he cried out, “wolf! Wolf!” and the villagers again came running up the hill only to find that the shepherd boy had fooled them. He laughed and laughed, seeing that he had succeeded in fooling them again. However, this time, the villagers were very angry, and they told him that the next time he cries out for help, they would not come.

Next day when his flock of sheep were grazing, he suddenly saw a wolf. He cried out aloud “Wolf! Wolf!” But alas! No one came to rescue his sheep. The shepherd boy returned home crying only with few of his sheep. The wolf had taken away one of his sheep, and few of his sheep had fled. From that day onwards, he promised never to lie again.</p>
<br/>
<b>What is the Moral of “The Boy Who Cried, Wolf Story”?</b><br/><br/>
<p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="justify">This short story teaches us a moral lesson that people refuse to believe a liar even when he is telling the truth.

The boy who cried wolf story for kids is a story that every child should read and learn the underlying lesson from. It is a story which leaves a deep imprint in every reader’s mind.
</p>
<br/>
<br/>
<br/>
</body>
</html>